canvas {
  width: 50%;
  margin: 0 auto;
  border: 10p;
  color:bisque;
}

#howToPlay {
  width: 50%;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  color: #34568b;
}

#title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 900;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #90aeee;
  background-color: rgb(0, 7, 100);
}

div {
  background-color: #a3d6ee;
}